@media screen and (max-width: 576px) {
  .header-section{
  width: 100%;
  height: 220px;
}
.banner h1{
  font-size: 30px;
}
.banner p{
  font-size: 14px;
}
.btn button{
  padding: 10px 13px;
  font-size: 15px;
  font-weight: 500;
}
}