@media screen and (max-width: 576px) {
  .header-section{
  width: 100%;
  height: 220px;
}
.banner h1{
  font-size: 30px;
}
.banner p{
  font-size: 14px;
}
.btn{
  padding: 10px 13px;
  font-size: 15px;
  font-weight: 500;
}
.section-01{
  margin: 50px 20px;
}
.heading h2{
  font-size: 22px;
}
.heading p{
  font-size: 14px;
  margin: 15px 0;
}
.card-box{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.card{
  padding: 10px 25px;
}
.button p{
  font-size: 16px;
}
.contribute{
  margin: 0 15px 15px 15px;
}
.donation{
  flex-direction: column;
  gap: 25px;
  margin-bottom: 15px;
}
.head h3{
  font-size: 25px;
}
.head p{
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}
.image img{
  width: 100%;
  height: 150px;
}
}