*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.header-section{
  background-image: url(../images/donation5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h1{
  font-size: 65px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: auto;
  text-align: center;
}
.banner p{
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 28px;
}
.btns{
  display: flex;
  justify-content: center;
}
.btn{
  padding: 15px 13px;
  border: none;
  border-radius: 8px;
  background-color: #FF5959;
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 30px;
}
.section-01{
  margin: 100px;
}
.heading{
  text-align: center;
}
.heading h2{
  font-size: 45px;
  font-weight: bold;
  line-height: auto;
  color: #121212;
}
.heading p{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #707070;
  margin: 25px 0;
}
.card-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.card{
  border: none;
  border-radius: 5px;
  background-color: #FAFAFA;
  padding: 30px 45px;
}
.button p{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #B3B3B3;
  border-bottom: 1px solid blue;
  margin-top: 60px;
  text-align: center;
  padding-bottom: 10px;
}
.donate{
  border: 2px solid red;
  background-color: #ff59594e;
}
.donate h3{
  color: red;
}


.contribute{
  margin: 0 30px 30px 30px;
}
.donation{
  display: flex;
  gap: 125px;
  margin-bottom: 20px;
}
.head h3{
  font-size: 45px;
  font-weight: bold;
  color: #121212;
  line-height: auto;
}
.head p{
  font-size: 18px;
  font-weight: 400;
  color: #707070;
  line-height: 28px;
  margin: 15px 0;
  text-align: justify;
}
.image img{
  max-width: 500px;
  height: 300px;
}